.accept{background-image:url(../icon/accept.png)!important;}
.add{background-image:url(../icon/add.png)!important;}
.back{background-image:url(../icon/back.png)!important;}
.cancel{background-image:url(../icon/cancel.png)!important;}
.category{background-image:url(../icon/category.png)!important;}
.comments{background-image:url(../icon/comments.png)!important;}
.config{background-image:url(../icon/config.png)!important;}
.code{background-image:url(../icon/code.png)!important;}
.collapse{background-image:url(../icon/collapse.gif)!important;}
.date{background-image:url(../icon/date.png)!important;}
.delete{background-image:url(../icon/delete.png)!important;}
.dictionary{background-image:url(../icon/dictionary.png)!important;}
.edit{background-image:url(../icon/edit.png)!important;}
.error{background-image:url(../icon/error.png)!important;}
.excel{background-image:url(../icon/excel.png)!important;}
.exit{background-image:url(../icon/exit.png)!important;}
.expand{background-image:url(../icon/expand.gif)!important;}
.folder{background-image:url(../icon/folder.png)!important;}
.group{background-image:url(../icon/group.png)!important;}
.help{background-image:url(../icon/help.png)!important;}
.higher{background-image:url(../icon/higher.png)!important;}
.home{background-image:url(../icon/home.png)!important;}
.info{background-image:url(../icon/information.png)!important;}
.key{background-image:url(../icon/key.png)!important;}
.leaf{background-image:url(../icon/leaf.gif)!important;}
.list{background-image:url(../icon/list.png)!important;}
.lock{background-image:url(../icon/lock.png)!important;}
.log{background-image:url(../icon/log.png)!important;}
.menu{background-image:url(../icon/menu.png)!important;}
.reset{background-image:url(../icon/reset.png)!important;}
.org{background-image:url(../icon/org.png)!important;}
.perm{background-image:url(../icon/perm.gif)!important;}
.refresh{background-image:url(../icon/refresh.png)!important;}
.reverse{background-image:url(../icon/reverse.png)!important;}
.role{background-image:url(../icon/role.png)!important;}
.save{background-image:url(../icon/save.png)!important;}
.success{background-image:url(../icon/success.png)!important;}
.search{background-image:url(../icon/search.gif)!important;}
.setting{background-image:url(../icon/setting.png)!important;}
.system{background-image:url(../icon/system.png)!important;}
.user{background-image:url(../icon/user.gif)!important;}
.warn{background-image:url(../icon/warn.png)!important;}